[submodule "dwm/src/dwm"]
	path = dwm/src/dwm
	url = https://github.com/ryanArora/dwm
[submodule "dmenu/src/dmenu"]
	path = dmenu/src/dmenu
	url = https://github.com/ryanArora/dmenu
[submodule "st/src/st"]
	path = st/src/st
	url = https://github.com/ryanArora/st
[submodule "firefox/src/arkenfox-updater"]
	path = firefox/src/arkenfox-updater
	url = https://github.com/ryanArora/arkenfox-updater
